body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h1, h3 {
    margin: 0;
}

a {
   text-decoration: none;
   color: inherit; 
}

ul {
    list-style-type: none;
}

header, .main > * {
    padding: 40px 200px;
}

header, .banner, .footer {
    background-color: #1F2937;
}

.quote p, .cta-card p {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.navigation {
    margin-left: auto;
}

.navigation ul {
    display: flex;
    gap: 20px;
    color: #e5e7eb;
    font-size: 18px;
}

.main {
    flex: 1;
}

.main > * {
    min-height: 300px;
}

.banner {
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-left {
    flex: 1;
    max-width: 400px;
}

button.solid {
    background-color: #3882F6;
    border: 0px;
    border-radius: 5px;
    padding: 5px 20px;
    color: #e5e7eb;
}

.banner-right img {
    max-width: 500px;
}

.features {
    text-align: center;
    margin: 30px 0px;
}
.feature-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 50px;
    margin-top: 50px;
}

.feature-card {
    flex: 1;
}

.feature-card img {
    max-width: 150px;
    border:#3882F6 solid 2px;
    border-radius: 15px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote > * {
    padding: 0 50px;
}

.quote-copy {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 200px;
}

.cta-card {
    display: flex;
    background-color: #3882F6;
    padding: 20px 50px;
    align-items: center;
    border-radius: 5px;
    color: #e5e7eb;
    justify-content: space-between;
    height: 100px;
}

button.outline {
    background-color: #3882F6;
    border: solid 2px #e5e7eb;
    border-radius: 5px;
    padding: 5px 20px;
    color: #e5e7eb;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    padding: 0px 200px;
}